<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webshop</title>
    <link rel="stylesheet" href="/css/admin_home.css">
</head>
<body>
<div class="container">
    <nav class="navbar">
        <a href="/logout" class="nav-link logout-link">Logout</a>
    </nav>
    <a href="/category/add">Add Category</a>
    <a href="/product/add">Add Product</a>
    <a href="/category">View Category</a>
    <a href="/product">View Product</a>
</div>
</body>
</html>
